<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Accueil</ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <div class="about-header">
    <img src="img/logo.png">
  </div>
  <div padding class="about-info" *ngFor="let info of infos">
    <ion-list no-lines>
      <ion-item class="about-info item">
        <ion-icon name="calendar" item-left></ion-icon>
        <ion-label>Date</ion-label>
        <ion-label class="nobreak">{{info.eventDate}}</ion-label>
      </ion-item>

      <ion-item class="about-info item">
        <ion-icon name="pin" item-left></ion-icon>
        <ion-label>Lieu</ion-label>
        <ion-label class="nobreak">{{info.eventLocationName}}<br/>{{info.eventLocationAdress}}</ion-label>
      </ion-item>
    </ion-list>

    <ion-card class="about-info" [innerHTML]="info.eventDescription"></ion-card>

    <ion-card class="about-sponsors">
      Cet événement ne pourrait pas avoir lieu sans l'aide de nos sponsors :

      <ion-slides [options]="mySlideOptions">
        <ion-slide *ngFor="let sponsor of sponsors">
             <div align="center">
               <img [src]="sponsor.logo" (click)="openURL(sponsor)" >
             </div>
        </ion-slide>
      </ion-slides>
    </ion-card>
  </div>
</ion-content>
