$categories: (
 keynote: #6600CC,
 atelier: #69BB7B,
 conference: #FD8B2D,
 pause: #A8A2A2,
 rassemblement: #FED035,
 lightning_talk: #3BC7C4,
 documentation: #FED035,
 navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

.schedule-page {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}
