<ion-header>
  <ion-navbar>
    <ion-title>Session</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <h1  class="nobreak">{{session.name}}</h1>
    </ion-item>
    <ion-item [ngSwitch]="session.level">
      Niveau :
      <ion-icon name="star"></ion-icon>
      <template [ngSwitchCase]="'1'">
        <ion-icon name="star-outline" ></ion-icon>
        <ion-icon name="star-outline" ></ion-icon>
      </template>
      <template [ngSwitchCase]="'2'">
        <ion-icon name="star" ></ion-icon>
        <ion-icon name="star-outline" ></ion-icon>
      </template>
        <template [ngSwitchCase]="'3'">
        <ion-icon name="star" ></ion-icon>
        <ion-icon name="star" ></ion-icon>
      </template>
    </ion-item>
    <ion-item *ngFor="let track of session.tracks">
      Track : {{track}}
    </ion-item>
    <ion-item *ngFor="let speaker of session.speakers">
      <ion-avatar item-left>
        <img [src]="speaker.profilePic">
      </ion-avatar>
        <h2>{{speaker.name}}</h2>
    </ion-item>
    <ion-item>
      <ion-icon name="alarm"></ion-icon>
      {{session.timeStart}} - {{session.timeEnd}}
    </ion-item>
    <ion-item>
      <ion-icon name="pin"></ion-icon>
      {{session.location}}
    </ion-item>
    <ion-item class="description">
        <ion-icon name="book"></ion-icon>
        <ion-label class="nobreak">{{session.description}}</ion-label>
    </ion-item>
    <button full (click)="showModal()">
      <ion-icon name="paper-plane"></ion-icon>Envoyer un feedback sur la session
    </button>
  </ion-card>
</ion-content>
